.block3 {
    height: 150vh;
    margin: 0rem;
}

.carouselimg {
    height: 80rem;
    // position: absolute;
}
.carouselimg1:first-of-type {
    display: table;
    position: static;
    pointer-events: auto;
}
.carouselimages .controlbuttons {
    pointer-events: auto;
    height: 60rem;
    width: 60rem;
    border-radius: 60px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    transition: all .25s;
}