.block4 {
    height: 100vh;
    display: flex;
   margin: 2rem;
    justify-content: flex-start;
}
.interactive-map {
    position: relative;
}
.map {
    height:89vh;
    position: absolute;
}
.pins {
    height: 5rem;
    position: absolute;
    z-index: 2;
}
.big-pins {
    z-index: 3;
    height: 6.5rem;
}
.pin1 {
    top: 7rem;
    left: 33rem;
}
.pin1-big {
    top: 6.25rem;
    left: 32.25rem;
}
.pin2 {
    top: 20rem;
    left: 27rem;
}
.pin2-big {
    top: 19.25rem;
    left: 26.25rem;
}
.pin3 {
    top: 23rem;
    left: 45rem;
}
.pin3-big {
    top: 22.25rem;
    left: 44.25rem;
}
.pin4 {
    top: 32rem;
    left: 17rem;
}
.pin4-big {
    top: 31.25rem;
    left: 16.25rem;
}

.pin1-big:not(hover) {
    opacity: 0%;
}
.pin1-big:hover{
    opacity: 50%;
    z-index: 1;
}
.pin2-big:not(hover) {
    opacity: 0%;
}
.pin2-big:hover{
    opacity: 50%;
}
.pin3-big:not(hover) {
    opacity: 0%;
}
.pin3-big:hover{
    opacity: 50%;
}
.pin4-big:not(hover) {
    opacity: 0%;
}
.pin4-big:hover{
    opacity: 50%;
}

.pin1-info {
display: flex;
align-items: flex-end;
justify-content: flex-end;
flex-direction: column;
width: 94vw;
}
.pin1-image {
    height: 40rem;
    opacity: 0%;
}
.pin1-text {
    width: 53rem;
    opacity: 0%;
}

.pin1:hover .pin1-imagetext{
opacity: 100%;
}
/* .pin1:not(hover)~.pin1-imagetext{
    opacity: 0%;
} */
