.block1{
   height: 100vh;
    margin-bottom: 5rem;
    background-image: url(../media/icecreamcollage1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    @include phone {
        height: 26vh;
        margin-bottom: 1.75rem;
    }
}

.block1 {
    animation-name: flashingimages;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition: .3s;
    }
    
    @keyframes flashingimages {
     1% {background-image: url(../media/icecreamcollage1.jpg), url(../media/icecreamcollage2.jpg);}
     10% {background-image: url(../media/icecreamcollage2.jpg), url(../media/icecreamcollage3.jpg);}
     19% {background-image: url(../media/icecreamcollage3.jpg), url(../media/icecreamcollage4.jpg);}
     28% {background-image: url(../media/icecreamcollage4.jpg), url(../media/icecreamcollage5.jpg);}
     37% {background-image: url(../media/icecreamcollage5.jpg), url(../media/icecreamcollage6.jpg);}
     46% {background-image: url(../media/icecreamcollage6.jpg), url(../media/icecreamcollage7.jpg);}
     55% {background-image: url(../media/icecreamcollage7.jpg), url(../media/icecreamcollage8.jpg);}
     64% {background-image: url(../media/icecreamcollage8.jpg), url(../media/icecreamcollage9.jpg);}
     73% {background-image: url(../media/icecreamcollage9.jpg), url(../media/icecreamcollage10.jpg);}
     82% {background-image: url(../media/icecreamcollage10.jpg), url(../media/icecreamcollage11.jpg);}     
     91% {background-image: url(../media/icecreamcollage11.jpg), url(../media/icecreamcollage1.jpg);}
    }
.banner {
    height: 45rem;
    position: absolute;
    top: 7rem;
}
.block1-item {
    position: relative;
}