$colors: (
  primary-light: #eca1e0,
  primary: #ffaff2,
  primary-dark: #fd38dc,
  black: #0b0c10
);

$phone: 420px;
$tablet: 768px;
$laptop: 1440px;
$desktop: 2000px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
}
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}
  @mixin desktop {
    @media (max-width: #{$desktop}) {
      @content;
    }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
