$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
  grey: #c5c6c7,
  primary-dark: #1f2833,
  black: #0b0c10
);

$phone: 375px;
$tablet: 768px;
$laptop: 1440px;
$desktop: 2000px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}
@mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
}
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}
  @mixin desktop {
    @media (max-width: #{$desktop}) {
      @content;
    }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
