body{
    font-size: 62.5%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
img {
    height: 24vh;
}
.block2-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    filter: grayscale(30%);
    height: 2rem;
}

.block2-box1 {
   margin: 2rem;
}

.block2-box2 {
    margin: 2rem;
}

.block2-box3 {
    margin: 2rem;
}

.block2-box1-smallerhalf {
    margin-left: 1.27rem;
}
.block2-box2-smallerhalf {
    margin-right: 1.27rem;
}
.block2-box3-smallerhalf {
    margin-left: 1.27rem;
}

.block2-box1-biggerhalf:hover .block2-box1-smallerhalf{
    translate: 10rem;
}
.fun-facts-about-ice-cream:not(hover) {
opacity: 0%;
} 

.block2-box1:hover {
padding: 10rem;
}
